<!--
 Here's our draggable elements.
 All that's required is that they have a relative or absolute CSS 'position',
 and are matched by the isElement/isHandle methods of a DragResize object.
 Easy!
-->

<div class="drsElement"
 style="left: 150px; top: 150px; width: 250px; height: 120px;
 background: #CDF; text-align: center">
 <div class="drsMoveHandle">Div 0</div>
 Content
</div>

<div class="drsElement"
 style="left: 20px; top: 300px; width: 150px; height: 200px;
 background: #FDC; text-align: center">
 <div class="drsMoveHandle">Div 1</div>
 Content
</div>

<div class="drsElement drsMoveHandle"
 style="left: 150px; top: 280px; width: 50px; height: 100px;
 background: #DFC; text-align: center">
 Div 2
 Content
</div>


