<div class="damage"><%= char.damage * 10 %>dmg</div>
<div class="armor"><%= char.armor %>% armor</div>
<div class="cth"><%= char.cth %>% chance to hit</div>
<div class="ctb"><%= char.ctb %>% chance to block</div>
<div class="win"><%= char.win %>win</div>
<div class="lose"><%= char.lose %>lose</div>